@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form class="login-form" autocomplete="off" action="@Url.Action("forgotpassword", "login")" method="post">
    <p>Forgot Password.</p>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Fill all the required fields </span>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Id Number</label>
        <div class="input-icon">
            <i class="icon-lock"></i>
            <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="Id Number" name="IdNumber" />
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("index", "login")" class="btn green pull-left"> <i class="icon-question"> Back</i></a>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn green pull-right"> <i class="icon-login"> Reset Password</i></button>
            </div>
        </div>
    </div>
</form>

