@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<form class="login-form" autocomplete="off" action="@Url.Action("resetpassword", "login")" method="post">
    <p>Reset Password.</p>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Fill all the required fields </span>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">New Password</label>
        <div class="input-icon">
            <i class="icon-lock"></i>
            <input class="form-control placeholder-no-fix" id="new-password" type="password" autocomplete="off" placeholder="New Password" name="Password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
        <div class="input-icon">
            <i class="icon-lock"></i>
            <input class="form-control placeholder-no-fix" id="confirm-password" type="password" autocomplete="off" placeholder="Confirm Password" name="ConfirmPassword" />
        </div>
    </div>
    <label class="mt-checkbox mt-checkbox-outline">
        <input type="checkbox" onclick="showPassword()" /> Show Password
        <span></span>
    </label>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("index", "login")" class="btn green pull-left"> <i class="icon-question"> Back</i></a>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn green pull-right" onclick="return validatePasswords()"> <i class="icon-login"> Reset Password</i></button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    const newPassword = document.getElementById('new-password');
    const confirmPassword = document.getElementById('confirm-password');

    function showPassword() {
        if (newPassword.type == 'password') {
            newPassword.type = 'text';
        } else {
            newPassword.type = 'password';
        }
        if (confirmPassword.type == 'password') {
            confirmPassword.type = 'text';
        } else {
            confirmPassword.type = 'password';
        }
    }

    const validatePasswords = function () {
        if (newPassword.value !== confirmPassword.value) {
            alert('Passwords do not match!');
            return false;
        } else return true;
    }
</script>

