
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Site.cshtml";
}

@Html.Action("Notification")

<div class="container">
    <section class="content">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-5">
                <br />
                <br />
                <br />
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img src="../images/logo.png" alt="User Image" style="width: 10rem; height: auto;">
                        </div>
                    </div>
                    <form class="form-horizontal" method="post" action="/account/forgotpassword">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="EmailAddress" class="form-control" placeholder="Email Address" required value="" />
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div>
                                <a href="@Url.Action("forgotpassword")" class="btn btn-warning pull-left">Back</a>
                                <button type="submit" class="btn btn-primary pull-right">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </section>
</div>