
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form class="login-form" autocomplete="off" action="@Url.Action("forgotpassword","login")" method="post">
    <p>Please enter your VAT No to reset password</p>
    <div class="form-group">
        <div class="input-icon">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="VAT Registration No" name="VATNo" required style="text-transform:uppercase" />
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green pull-right"> <i class="icon-login"> Reset Password</i></button>
        <a href="@Url.Action("index", "login")" class="btn green pull-left"><i class="icon-arrow-left"> Back</i></a>
    </div>
    <br />
</form>